<settings>

	<servers>
  <server>
    <id>webapp-demo-webapp-demo-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>webapp-demo-webapp-demo-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>webapp-demo-webapp-demo-cicd</id>
        <url>https://webapp-demo-905418286373.d.codeartifact.us-east-1.amazonaws.com/maven/webapp-demo-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>webapp-demo-webapp-demo-cicd</id>
    <name>webapp-demo-webapp-demo-cicd</name>
    <url>https://webapp-demo-905418286373.d.codeartifact.us-east-1.amazonaws.com/maven/webapp-demo-cicd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>


